<nav th:fragment="navbar" class="app-header navbar navbar-expand bg-body">

	<!-- LEFT SIDE -->

	<ul class="navbar-nav">

		<!-- Sidebar Toggle -->

		<li class="nav-item"><a class="nav-link"
			data-lte-toggle="sidebar" href="#" role="button"> <i
				class="bi bi-list"></i>

		</a></li>


		<!-- Home -->

		<li class="nav-item d-none d-md-block"><a
			th:href="@{/admin/dashboard}" class="nav-link"> Home </a></li>

	</ul>


	<!-- RIGHT SIDE -->

	<ul class="navbar-nav ms-auto">

		<!-- Notifications -->

		<li class="nav-item dropdown"><a class="nav-link" href="#"
			data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span
				class="navbar-badge badge text-bg-danger"> 3 </span>

		</a>

			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">

				<span class="dropdown-header"> 3 Notifications </span>

				<div class="dropdown-divider"></div>

				<a href="#" class="dropdown-item"> <i
					class="bi bi-person-plus me-2"></i> 2 new users registered

				</a>

				<div class="dropdown-divider"></div>

				<a href="#" class="dropdown-item"> <i class="bi bi-wallet2 me-2"></i>

					New expense added

				</a>

				<div class="dropdown-divider"></div>

				<a href="#" class="dropdown-item"> <i
					class="bi bi-bar-chart me-2"></i> Monthly report available

				</a>

			</div></li>


		<!-- User Menu -->

		<li class="nav-item dropdown user-menu"><a href="#"
			class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <i
				class="bi bi-person-circle"></i> <span class="d-none d-md-inline"
				th:text="${#authentication.name}"> Admin </span>

		</a>


			<ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">

				<li class="user-header text-bg-primary"><i
					class="bi bi-person-circle admin-user-icon"></i>

					<p>

						<span th:text="${#authentication.name}"> Admin </span> <small>
							Administrator </small>

					</p></li>


				<li class="user-footer"><a th:href="@{/admin/profile}"
					class="btn btn-default btn-flat"> Profile </a>

					<form th:action="@{/logout}" method="post"
						class="d-inline float-end">

						<button type="submit" class="btn btn-default btn-flat">

							Sign out</button>

					</form></li>

			</ul></li>

	</ul>

</nav>